{% extends 'base.html.twig' %}

{% block body %}
    <h1>Les artistes ({{ artistes |length }})</h1>
    <div class="d-flex flex-wrap justify-content-between">
        {% for artist in artistes %}
            {% include 'layout/artist_card.html.twig' %}
        {% endfor %}
    </div>

{% endblock %}
